:root {
    --color-background: #1E1E1E;
    --color-secundary: #188c01;
    --color-primary: #fff;    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--color-primary)
}

body {
    background-color: var(--color-background);
}

.title {
    font-family: 'Black Ops One', cursive;
}

.container {
    text-align: left;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container>div {
    width: 20%;
}
.subtitle {
    margin: 20px 0;
}
.div-radio {
    display: flex;     
}
.input-radio {    
    margin-right: 2rem;
}
.input-radio>input {        
    margin-right: 5px;
    accent-color: #17A3F1; 
}
.button-generate {
    width: 80%;
    background-color: var(--color-secundary);
    color: var(--color-primary);
    border: none;
    padding: 10px 0;
    border-radius: 8px;
    margin: 1rem 0;    
    cursor: pointer;
}
.button-generate:hover {
    opacity: 0.8;
}
.input-result {
    width: 80%;
    padding: 10px 0;
    border-radius: 8px;
    background-color: var(--color-primary);
    border: none;
    margin-top: 1rem;
    color: var(--color-background);
    font-size: large;
    text-align: center;

}